<!doctype html>
<html><head><meta charset="utf-8"><title>Listado</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head><body>
<h2>Biblioteca Virtual</h2>
<a href="{{ url_for('biblioteca_virtual.nuevo') }}">➕ Nuevo</a>
<table><thead><tr><th>ID</th><th>titulo</th><th>autor</th><th>anio</th><th>genero</th><th>Acción</th></tr></thead>
<tbody>
{% for row in items %}
<tr>
  <td>{{ row['id'] }}</td><td>{{ row['titulo'] }}</td><td>{{ row['autor'] }}</td><td>{{ row['anio'] }}</td><td>{{ row['genero'] }}</td>
  <td><a href="{{ url_for('biblioteca_virtual.eliminar', id=row['id']) }}" onclick="return confirmarEliminacion()">Eliminar</a></td>
</tr>
{% endfor %}
</tbody></table>
<a href="/">Inicio</a>
</body></html>
