<!doctype html>
<html><head><meta charset="utf-8"><title>Nuevo</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head><body>
<h2>Nuevo gestion usuarios</h2>
<form method="post">
<label>nombre</label><input name='nombre' required><br><br>
<label>email</label><input name='email' required><br><br>
<label>contrasena</label><input name='contrasena' required><br><br>

<input type="submit" value="Guardar">
</form>
<a href="{{ url_for('gestion_usuarios.listado') }}">Volver</a>
</body></html>
